@model LeaveManagementSystem.Models.Employees_Other_Leave_Counts

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employees_Other_Leave_Counts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.maternity_leave_count_left)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maternity_leave_count_left)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paternity_leave_count_left)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paternity_leave_count_left)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.child_adoption_leave_count_left)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.child_adoption_leave_count_left)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
