@model IEnumerable<LeaveManagementSystem.Models.Employee>
@using LeaveManagementSystem.Models

@{
    ViewBag.Title = "Employees List";
    LeaveManagementDBEntities db = new LeaveManagementDBEntities();
/*
    var getRow = db.Employees.SingleOrDefault(s => s.code == "nnn");

    var post = db.Posts.FirstOrDefault(s => s.id == getRow.post_id).name;
    var gender = getRow.gender;
    var postingPlace = db.Posting_Place.FirstOrDefault(s => s.id == getRow.posting_place_id).name;
    var typeOfInstitute = db.Type_Of_Institute.FirstOrDefault(s => s.id == getRow.type_of_institute_id).name;
    var blockHq = db.Block_HQ.FirstOrDefault(s => s.id == getRow.block_id).name;
    */
}

<h2>Employees List</h2>

<p>
    @Html.ActionLink("Add a new Employee", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Code
        </th>
        <th>
            Name
        </th>
        <th>
            Gender
        </th>
        <th>
            Post
        </th>
        <th>
            Type Of Institute
        </th>
        <th>
            Posting Place
        </th>
        <th>
            Block Headquarter
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.post_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type_of_institute_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.posting_place_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.block_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.code }) |
            @Html.ActionLink("Details", "Details", new { id = item.code }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.code })
        </td>
    </tr>
}

</table>
